html, body {
  margin: 0;
  height: 0; }

body {
  font-family: 'Cardo', sans-serif;
  background: #f5f5f5;
  color: #333;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40% 60%;
  grid-template-areas: "header content" "header content" "header footer"; }

header, nav, main, footer {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }

h4, h5 {
  font-family: 'Cardo', sans-serif; }

h3 {
  font-weight: 800;
  font-style: italic;
  color: #AB987A;
  font-size: 3vw; }

h4 {
  font-size: 22px;
  line-height: 24px;
  margin: 0 0 10px; }
  h4 span {
    font-size: 17px;
    font-weight: 400;
    font-style: italic; }

h5 {
  font-size: 20px;
  margin: 0; }
  h5 span {
    font-size: 18px;
    font-weight: 400;
    font-style: italic; }

p, ul {
  margin-top: 0;
  font-size: 16px;
  line-height: 26px; }

a {
  color: #333; }

header.mobile-header, nav.mobile-navbar {
  display: none;
  z-index: 100; }

header.left-header {
  position: fixed;
  height: 100vh;
  width: 40%;
  background: url("../img/profile.jpg") top right;
  background-size: cover; }
  header.left-header:after {
    content: "";
    position: absolute;
    background: rgba(15, 22, 38, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
  header.left-header nav.main-menu {
    text-align: right; }
    header.left-header nav.main-menu ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
      text-transform: uppercase;
      font-weight: 800; }
      header.left-header nav.main-menu ul li a {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        right: -1px;
        -webkit-transition: color 0.3s ease-in-out;
        -moz-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
        padding: 10px 30px;
        color: #fff;
        text-decoration: none; }
        header.left-header nav.main-menu ul li a:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #f5f5f5;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        header.left-header nav.main-menu ul li a:hover, header.left-header nav.main-menu ul li a:active, header.left-header nav.main-menu ul li a:focus {
          color: #AB987A; }
          header.left-header nav.main-menu ul li a:hover:before, header.left-header nav.main-menu ul li a:active:before, header.left-header nav.main-menu ul li a:focus:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  header.left-header section.left-header-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 135px;
    margin: auto 0;
    text-align: center; }
    header.left-header section.left-header-title h1 {
      margin: 0;
      font-size: 4.2vw;
      text-transform: uppercase;
      letter-spacing: -1px;
      color: #fff; }
    header.left-header section.left-header-title h2 {
      margin: 0;
      color: #fff;
      font-style: italic;
      font-size: 1.2vw; }

main {
  grid-area: content; }
  main section h3.section-heading {
    margin: 0;
    border-bottom: 2px solid #AB987A;
    padding: 20px 0 20px 30px;
    width: 70%; }
  main section div.section-content {
    padding: 60px 50px; }
    main section div.section-content h4 svg {
      font-size: 50px;
      margin-right: 10px; }
    main section div.section-content div.separator {
      padding: 20px 0 35px 0;
      width: 50%;
      position: relative;
      text-align: center;
      color: #AB987A;
      font-size: 17px; }
      main section div.section-content div.separator:after {
        content: "";
        border-bottom: 1px solid #AB987A;
        width: 100%;
        position: absolute;
        left: 0;
        top: 30px; }
    main section div.section-content div.skill-bar-container {
      border: 2px solid #AB987A;
      height: 30px;
      width: 80%;
      -ms-transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg);
      transform: skewX(-20deg);
      margin-bottom: 30px; }
      main section div.section-content div.skill-bar-container div.skill-bar {
        height: 100%;
        background: #AB987A; }
    main section div.section-content ul.portfolio-list {
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center; }
      main section div.section-content ul.portfolio-list.websites {
        margin-bottom: 60px; }
        main section div.section-content ul.portfolio-list.websites li:nth-child(1) a {
          background: url("../img/desygner.jpg"); }
        main section div.section-content ul.portfolio-list.websites li:nth-child(2) a {
          background: url("../img/zstand.jpg"); }
        main section div.section-content ul.portfolio-list.websites li:nth-child(3) a {
          background: url("../img/vinyldoc.jpg"); }
        main section div.section-content ul.portfolio-list.websites li:nth-child(4) a {
          background: url("../img/bknvespa.jpg"); }
      main section div.section-content ul.portfolio-list.writing li:nth-child(1) a {
        background: url("../img/desygner-writing.jpg"); }
      main section div.section-content ul.portfolio-list.writing li:nth-child(2) a {
        background: url("../img/zstand-writing.jpg"); }
      main section div.section-content ul.portfolio-list li {
        list-style: none;
        display: inline-block;
        width: calc(100% / 2);
        float: left;
        text-align: center; }
        main section div.section-content ul.portfolio-list li a {
          height: 200px;
          width: 100%;
          background-position: center;
          background-size: cover !important;
          text-decoration: none;
          color: #fff;
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px transparent;
          position: relative;
          -webkit-transition: color 0.3s ease-in-out;
          -moz-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out; }
          main section div.section-content ul.portfolio-list li a:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
          main section div.section-content ul.portfolio-list li a:hover, main section div.section-content ul.portfolio-list li a:focus, main section div.section-content ul.portfolio-list li a:active {
            color: white; }
            main section div.section-content ul.portfolio-list li a:hover img, main section div.section-content ul.portfolio-list li a:hover span, main section div.section-content ul.portfolio-list li a:focus img, main section div.section-content ul.portfolio-list li a:focus span, main section div.section-content ul.portfolio-list li a:active img, main section div.section-content ul.portfolio-list li a:active span {
              opacity: 0; }
          main section div.section-content ul.portfolio-list li a:hover:before, main section div.section-content ul.portfolio-list li a:focus:before, main section div.section-content ul.portfolio-list li a:active:before {
            -webkit-transform: scaleX(0);
            transform: scaleX(0); }
          main section div.section-content ul.portfolio-list li a img, main section div.section-content ul.portfolio-list li a span {
            width: 60%;
            height: auto;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto auto;
            font-style: italic; }
            main section div.section-content ul.portfolio-list li a img.portrait-logo, main section div.section-content ul.portfolio-list li a span.portrait-logo {
              height: 50%;
              width: auto; }
          main section div.section-content ul.portfolio-list li a span {
            height: 45px; }
  main section ul.contact-info {
    list-style: none; }
    main section ul.contact-info li a svg {
      font-size: 30px; }

footer {
  grid-area: footer;
  background-color: #2d2d2d;
  color: #969696;
  padding: 50px 30px;
  text-align: center;
  font-family: 'Cardo', sans-serif; }
  footer p {
    margin: 0; }
    footer p a {
      color: #969696;
      text-decoration: none;
      display: block;
      font-size: 16px;
      line-height: 28px; }
      footer p a.footer-icon {
        font-size: 30px;
        margin-top: 8px; }

@media only screen and (max-width: 796px) {
  body {
    grid-template-rows: 100px 50px auto auto;
    grid-template-columns: 100%;
    grid-template-areas: "header" "nav" "content" "footer"; }
  h3 {
    font-size: 7.5vw; }
  header.mobile-header {
    display: block;
    grid-area: header;
    background: url("../img/profile.jpg") center right;
    background-size: cover;
    position: fixed;
    width: 100%;
    text-align: center; }
    header.mobile-header:before {
      content: "";
      position: absolute;
      background: -moz-linear-gradient(-45deg, rgba(62, 160, 159, 0.6) 0%, rgba(54, 108, 165, 0.6) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, rgba(62, 160, 159, 0.6) 0%, rgba(54, 108, 165, 0.6) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, rgba(62, 160, 159, 0.6) 0%, rgba(54, 108, 165, 0.6) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      background: rgba(15, 22, 38, 0.6);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1; }
    header.mobile-header section.mobile-header-title h1 {
      color: #fff;
      margin: 0;
      font-size: 9vw;
      line-height: 100px; }
      header.mobile-header section.mobile-header-title h1 a {
        color: #fff;
        text-decoration: none; }
  nav.mobile-navbar {
    display: block;
    grid-area: nav;
    text-align: center;
    background: #7FB4C1;
    background: #AB987A;
    position: fixed;
    width: 100%;
    top: 100px; }
    nav.mobile-navbar button {
      background: none;
      border: none;
      outline: none;
      padding: 14px;
      cursor: pointer; }
      nav.mobile-navbar button svg.fa-bars {
        color: #fff;
        font-size: 5vw; }
    nav.mobile-navbar section.mobile-nav-container {
      background: rgba(15, 22, 38, 0.95);
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
      text-transform: uppercase;
      font-weight: 800;
      position: fixed;
      height: 100vh;
      top: -100vh;
      right: 0;
      left: 0;
      bottom: 0;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      nav.mobile-navbar section.mobile-nav-container.show-nav {
        top: 0; }
      nav.mobile-navbar section.mobile-nav-container .close-nav-btn {
        position: absolute;
        display: block;
        padding: 25px 30px;
        font-size: 5vw;
        text-decoration: none;
        color: #fff;
        top: 0;
        right: 0; }
      nav.mobile-navbar section.mobile-nav-container ul {
        margin: 0;
        padding: 25% 0 0;
        list-style: none; }
        nav.mobile-navbar section.mobile-nav-container ul li a {
          display: block;
          font-size: 6.5vw;
          text-decoration: none;
          color: #fff;
          padding: 20px 0; }
  .left-header {
    display: none; }
  main {
    grid-area: content; }
    main section div.section-content div.skill-bar-container {
      width: 100%; }
    main section div.section-content ul.portfolio-list li {
      width: 100%; } }
